.idea
build
.gradle
.env
.env.docker


.DS_Store
.gitignore
applications/app/src/.DS_Store
applications/app/src/main/.DS_Store
applications/app/src/main/kotlin/.DS_Store
applications/app/src/main/kotlin/edu/.DS_Store
applications/app/src/main/kotlin/edu/colorado/.DS_Store
applications/app/src/main/kotlin/edu/colorado/capstone/.DS_Store
components/.DS_Store
components/database-support/.DS_Store
components/database-support/src/.DS_Store
components/database-support/src/main/.DS_Store
components/database-support/src/main/kotlin/.DS_Store
components/database-support/src/main/kotlin/io/.DS_Store
databases/.DS_Store